@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 4.8rem;
  }

  html {
    @apply bg-background font-sans text-white;
    font-size: 62.5%;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to right bottom, #fff 30%, hsla(0, 0%, 100%, .38));
    background-clip: text;
  }
}
